.player,
.goal {
    position: relative;
}
.player:before,
.goal:before {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    line-height: 40px;
    font-size: 38px;
}
.goal:before {
    content:"\01F354";
    color: #944ac7;
}
.player:before {
    content: "\01F604";
    color: rgb(20, 71, 37);
}
