body {
    background: #a3c5a3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Bree Serif', serif;
    font-family: 'Cherry Bomb One', cursive;
}
.option, 
.ending {
    display: flex;
    justify-content: center;
}
header, .win {
    text-align: center;
    color: rgb(104, 73, 26);
}
select, button {
    margin: 0 20px;
    border: none;
    padding: 5px;
    border-radius: 7px;
    background: green;
    color: lightgreen;
    box-shadow: 0 0 15px 0 lightgreen;
}
button {
    padding: 0 10px;
}
.terrain_de_jeu{
    margin: 1em auto;
    display: flex;
    flex-direction: column;
}
.rows {
    display: flex;
    flex-direction: row;
}
.square {
    width: 40px;
    height: 40px;
    float: left;
    background: #bddfbd;
    background-image: url(../images/base/grass.png);
}
.square:nth-child(even){
    background: #afdaaf;
    background-image: url(../images/base/grass-high.png);
}
.square.wall {
    background: #b9a288;
    background-image: url(../images/base/rock.png);
}