body {
    background: #a3c5a3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.option, .ending {
    display: flex;
    justify-content: center;
}
select, button {
    margin: 0 20px;
    border: none;
    padding: 5px;
    border-radius: 7px;
    background: green;
    color: lightgreen;
    box-shadow: 0 0 15px 0 lightgreen;
}
button {
    padding: 0 10px;
}
.terrain_de_jeu{
    margin: 1em auto;
    display: flex;
    flex-direction: column;
}
.rows {
    display: flex;
    flex-direction: row;
}
.square {
    width: 30px;
    height: 30px;
    float: left;
    background: #bddfbd;
}
.square:nth-child(even){
    background: #afdaaf;
}
.square.wall {
    background: #b9a288;
}