.player,
.goal {
    position: relative;
}
.player:before,
.goal:before {
    position: absolute;
    left: 0;
    top: 0;
    line-height: 40px;
    font-size: 38px;
}
.goal:before {
    content:url(../images/pika-theme/pika.png);
}
.player:before {
    content:url(../images/pika-theme/pokeball.png);
}